.join-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .join-us-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    gap: 180px; /* Space between icons */
  }
  .mobile-join-us-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    gap: 25px; /* Space between icons */
  }

  .join-us-content .icon {
    width: 120px; /* Adjust the size of the icons */
    height: 120px;
    background-color: #b76262; /* Background color for the icons */
    border-radius: 50%; /* Make the icons circular */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .join-us-content .icon:hover {
    transform: scale(1.1); /* Scale up the icon on hover */
  }
