.header {
    position: fixed; /* Fix the header at the top */
    top: 0; /* Position it at the top */
    width: 100%; /* Ensure it spans the full width */
    background-color: rgb(240, 224, 188); /* Set a background color */
    box-shadow: 0 2px 4px rgba(240, 224, 188, 0.9);
    opacity: 0.9;
    z-index: 1000; /* Ensure it is above other elements */
    padding: 5px 20px; /* Adjust padding as needed */
  }

 .scrolled{
    opacity: 0.6;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    width: 60px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .header-links {
    display: flex;
    gap: 100px;
  }
  
  .header-link {
    color: #000000; /* Set link color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .header-link:hover {
    color: #ff8c1a; /* Change color on hover */
  }
  
  .header-social-links {
    display: flex;
    gap: 15px;
  }
  
  .header-social {
    color: #000000; /* Set icon color */
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  
  .header-social:hover {
    transform: scale(1.2); /* Scale up on hover */
  }